@{
    ViewBag.Title = "That Restaurant Needs to be RATED!";
    //there is a viwebag message that comes from home controller, and is passed in becasue this page is a subpage of the home page
}

<div class="container">
    <div class="col-md-10">
        <div class="row">
            <h2>@ViewBag.Title.</h2>
        </div>
        <div class="row">
            <h3>@ViewBag.Message</h3>
        </div>
        <div class="row">
            <p>Utilize our program to create a lasting track record of what you ate, where you ate and how you felt about it for the rest of human history.</p>
        </div>
    </div>
</div>